
table{
    background: #fff;
    height: 600rem;
    width: 720rem;
    border-collapse: collapse;
    font-size: 25rem;
    z-index: 999999;
    position: relative;
}
.caption{
    font-size: 30rem;
    font-weight: bolder; 
}

td, th{
    border: 1px solid #000;
    text-align: center;
}

.button{
    font-size: 20rem;
}