.CheckoutItem {
    display: flex;
}


.MealImg {
    width: 140rem;
}

.MealImg Img{
    width: 100%;
}

.Desc{
    display: flex;
    flex: auto;
    flex-flow: column;
    margin-left: 20rem;
    justify-content: space-evenly;
}

.Title{
    font-size: 25rem;
    font-weight: bolder;
}

.PriceOuter{
    display: flex;
    justify-content: space-between;
}

.Price{
    font-size: 26rem;
    font-weight: bold;
}
.Price::before{
    content: '￥';
    font-weight: normal;
    font-size: 24rem;
}