.Header {
  
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    right: 0;
    height: 120rem;
    background-color: #fff;
    z-index: 9999;
    border-bottom: 1px solid #f2f2f2;
   
}


.showHomePageButton {
    width: 60rem;
    height: 60rem;
    border: none;
    margin-right: 30rem;
}

.showHomePageButton svg {
    height: 100%;
    width: 100%;
}